<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".SalaryApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalaryTracker">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker"
            android:windowSoftInputMode="adjustResize">
            <!-- Deep-link pour le callback Firebase Auth (Facebook OAuth, reCAPTCHA téléphone) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- URL de callback Firebase : https://salarytracker-879e4.firebaseapp.com/__/auth/handler -->
                <data
                    android:host="salarytracker-879e4.firebaseapp.com"
                    android:pathPrefix="/__/auth/handler"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityPurple"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker.Purple"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_blue"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker.Blue"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_green"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker.Green"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_orange"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker.Orange"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRed"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_red"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker.Red"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityPink"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_pink"
            android:label="@string/app_name"
            android:theme="@style/Theme.SalaryTracker.Pink"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".SalaryWidgetSmall"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_info" />
        </receiver>

        <receiver
            android:name=".SalaryWidgetLarge"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_info" />
        </receiver>
        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" />
    </application>

</manifest>